In [80]:
import matplotlib.pyplot as plt 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC 


%matplotlib inline

In [81]:
import pandas as pd
mammo=pd.read_csv('Mammographic-mass-data-set.csv', delimiter=',')
mammo.head()

  BI-RADS Age Shape Margin Density  Severity
0       5  67     3      5       3         1
1       4  43     1      1       ?         1
2       5  58     4      5       3         1
3       4  28     1      1       3         0
4       5  74     1      5       ?         1

In [82]:

print('Missing values:{}'.format(mammo.isnull().any().sum()))
print('Missing values as ?:{}'.format((mammo=='?').any().sum()))
print('\nNumber of duplicated records: {}'.format(mammo.duplicated().sum()))

Missing values:0
Missing values as ?:5

Number of duplicated records: 272

In [83]:
mammo.get_dtype_counts()

int64     1
object    5
dtype: int64

In [84]:
mammo.shape

(961, 6)

In [85]:
mamograph=mammo.where(mammo!='?')
mamograph.count()

BI-RADS     959
Age         956
Shape       930
Margin      913
Density     885
Severity    961
dtype: int64

In [86]:
mamograph.head()

  BI-RADS Age Shape Margin Density  Severity
0       5  67     3      5       3         1
1       4  43     1      1     NaN         1
2       5  58     4      5       3         1
3       4  28     1      1       3         0
4       5  74     1      5     NaN         1

In [87]:
mamograph=mamograph.dropna()

In [88]:
mamograph.head()

   BI-RADS Age Shape Margin Density  Severity
0        5  67     3      5       3         1
2        5  58     4      5       3         1
3        4  28     1      1       3         0
8        5  57     1      5       3         1
10       5  76     1      4       3         1

In [89]:
mamograph.where(mamograph=='?').count()

BI-RADS     0
Age         0
Shape       0
Margin      0
Density     0
Severity    0
dtype: int64

In [90]:
mamograph.get_dtype_counts()

int64     1
object    5
dtype: int64

In [91]:
mamograph.to_csv('Cleanning mamograph.csv', encoding='utf-8',sep=',',index=False)

In [92]:
mammograph=pd.read_csv('Cleanning mamograph.csv',delimiter=',')

In [93]:
mammograph.head(5)

   BI-RADS  Age  Shape  Margin  Density  Severity
0        5   67      3       5        3         1
1        5   58      4       5        3         1
2        4   28      1       1        3         0
3        5   57      1       5        3         1
4        5   76      1       4        3         1

In [94]:
from sklearn.svm import SVC 
from sklearn.model_selection import train_test_split
svm = SVC()

X=mammograph[['Age','BI-RADS','Shape','Margin','Density']]
y=mammograph['Severity']

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0)

In [95]:
print("* The number of the rows in the data features:",y.count())
print("* After splitting the data into 75% for tranning and 25% for testing ")
print("* The number of the rows in the train data features:",y_train.count(),"Which are about ",(y_train.count()/y.count())*100)
print("* The number of the rows in the test data features:",y_test.count(),"Which are about ",(y_test.count()/y.count())*100)

* The number of the rows in the data features: 830
* After splitting the data into 75% for tranning and 25% for testing
* The number of the rows in the train data features: 622 Which are about  74.93975903614458
* The number of the rows in the test data features: 208 Which are about  25.060240963855424

In [96]:
from sklearn.linear_model import LogisticRegression

log_reg=LogisticRegression()
log_reg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [97]:
print('Accuracy on the training subset: {:.3f}'.format(log_reg.score(X_train,y_train)))
print('Accuracy on the test subset: {:.3f}'.format(log_reg.score(X_test,y_test)))

Accuracy on the training subset: 0.828
Accuracy on the test subset: 0.784

In [98]:
log_reg100=LogisticRegression(C=0.012)
log_reg100.fit(X_train,y_train)


print('Accuracy on the training subset: {:.3f}'.format(log_reg.score(X_train,y_train)))
print('Accuracy on the test subset: {:.3f}'.format(log_reg.score(X_test,y_test)))

Accuracy on the training subset: 0.828
Accuracy on the test subset: 0.784

In [99]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [100]:
print('Accuracy of KNN n-5, on the trainning set:{:.3f}'.format(knn.score(X_train,y_train)))
print('Accuracy of KNN n-5, on the testting set:{:.3f}'.format(knn.score(X_test,y_test)))

Accuracy of KNN n-5, on the trainning set:0.862
Accuracy of KNN n-5, on the testting set:0.793

In [101]:
# Create two lists for training and test accuracies
training_accuracy = []
test_accuracy = []

# Define a range of 1 to 10 (included) neighbors to be tested
neighbors_settings = range(1,11)

# Loop with the KNN through the different number of neighbors to determine the most appropriate (best)
for n_neighbors in neighbors_settings:
    clf = KNeighborsClassifier(n_neighbors=n_neighbors)
    clf.fit(X_train, y_train)
    training_accuracy.append(clf.score(X_train, y_train))
    test_accuracy.append(clf.score(X_test, y_test))

In [102]:
print('Accuracy of KNN n-5, on the trainning set:{:.3f}'.format(knn.score(X_train,y_train)))
print('Accuracy of KNN n-5, on the testting set:{:.3f}'.format(knn.score(X_test,y_test)))

Accuracy of KNN n-5, on the trainning set:0.862
Accuracy of KNN n-5, on the testting set:0.793

In [103]:
svm.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [104]:
print('The accuracy on the training subset: {:.3f}'.format(svm.score(X_train, y_train)))
print('The accuracy on the test subset: {:.3f}'.format(svm.score(X_test, y_test)))

The accuracy on the training subset: 0.871
The accuracy on the test subset: 0.779

In [105]:
min_train = X_train.min(axis=0)
range_train = (X_train - min_train).max(axis=0)

X_train_scaled = (X_train - min_train)/range_train

In [106]:
X_test_scaled = (X_test - min_train)/range_train

svm = SVC()
svm.fit(X_train_scaled, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [107]:
print('The accuracy on the training subset: {:.3f}'.format(svm.score(X_train_scaled, y_train)))
print('The accuracy on the test subset: {:.3f}'.format(svm.score(X_test_scaled, y_test)))

The accuracy on the training subset: 0.807
The accuracy on the test subset: 0.779

In [108]:
min_train = X_train.min(axis=0)
range_train = (X_train - min_train).max(axis=0)

X_train_scaled = (X_train - min_train)/range_train
X_test_scaled = (X_test - min_train)/range_train

svm = SVC()

mmamograph=svm.fit(X_train_scaled, y_train)

In [109]:
svm = SVC(110)
svm.fit(X_train_scaled, y_train)

print('The accuracy on the training subset: {:.3f}'.format(svm.score(X_train_scaled, y_train)))
print('The accuracy on the test subset: {:.3f}'.format(svm.score(X_test_scaled, y_test)))

The accuracy on the training subset: 0.830
The accuracy on the test subset: 0.788

In [113]:
cancer_diagnosis=pd.read_csv('Cleanning mamograph.csv', delimiter=',')
cancer_diagnosis.head()

   BI-RADS  Age  Shape  Margin  Density  Severity
0        5   67      3       5        3         1
1        5   58      4       5        3         1
2        4   28      1       1        3         0
3        5   57      1       5        3         1
4        5   76      1       4        3         1

In [114]:
from sklearn.svm import SVC 
from sklearn.model_selection import train_test_split
svm = SVC()

X=cancer_diagnosis[['Age','BI-RADS','Shape','Margin','Density']]
y=cancer_diagnosis[['Severity']]

In [115]:
min_X = X.min(axis=0)
X_range = (X - min_X).max(axis=0)

X = (X - min_X)/X_range

In [125]:
cancer_diagnosis=pd.read_csv('Cleanning mamograph.csv', delimiter=',')
cancer_diagnosis.head()

   BI-RADS  Age  Shape  Margin  Density  Severity
0        5   67      3       5        3         1
1        5   58      4       5        3         1
2        4   28      1       1        3         0
3        5   57      1       5        3         1
4        5   76      1       4        3         1

In [126]:
from sklearn.svm import SVC 
from sklearn.model_selection import train_test_split
svm = SVC()

X=cancer_diagnosis[['Age','BI-RADS','Shape','Margin','Density']]
y=cancer_diagnosis[['Severity']]

In [127]:
from sklearn.svm import SVC 
from sklearn.model_selection import train_test_split
svm = SVC()

X=cancer_diagnosis[['Age','BI-RADS','Shape','Margin','Density']]
y=cancer_diagnosis[['Severity']]

In [128]:
min_X = X.min(axis=0)
X_range = (X - min_X).max(axis=0)

X = (X - min_X)/X_range

In [129]:
svm = SVC(C=100)
clf=svm.fit(X,y)

F:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [130]:
from sklearn.externals import joblib

In [131]:
joblib.dump(svm,'mmamographmodel')

['mmamographmodel']

In [132]:
clf=joblib.load('mmamographmodel')

In [133]:
data=clf.predict([[1,2,3,4,5]])
for i in range(1):
    if(data[i]==0):
        print("The tumor is begnin")     

    elif(data[i]==1):
        print("The tumor is malignant")

The tumor is malignant